  
.landscape {
    font-weight: 100;
    font-size: 11pt;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landscape svg {
    margin-top: 30px;
    animation: rotate90 1.5s infinite;
    animation-direction: alternate;
}

@keyframes rotate90 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

  @media screen and (orientation: portrait) {
      .section {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 100vh;
          height: 100vh;
          overflow: hidden;
      }
      .section img {
          width: 100vh;
          height: 100vh;
      }
      .slider-arrow,.slider-arrow-sub,.music-btn{
          display: none;
      }
  }
  /* 横屏 */

  @media screen and (orientation: landscape) {
      .section {
          -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0)
      }
      .section img {
          width: 100%;
          height: 100%;
      }
      .landscape{
          display: none;
      }
  }
  
.loading {
    z-index: 10;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.btns {
    width: 100%;
    text-align: center
}

.btn {
    /*  background-color: #000;*/
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px;
}