body {
    font-size: 20pt;
}

.text-medium {
    font-size: 15pt;
}

.text-small {
    font-size: 12pt;
}

.text-left {
    text-align: left;
}

.text-color-white {
    color: #eee;
}

.hide {
    display: none;
}

.wrap-dark {
    background: rgba(18, 57, 97, 0.7);
    width: 100%;
    height: 100%;
}

.slider-arrow,
.slider-arrow-sub {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    bottom: 12%;
    margin: 0 auto;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    z-index: 10000;
    opacity: .8;
    -webkit-animation: nextPage 1.5s linear infinite
}

.slider-arrow-sub {
    bottom: 10%
}

@-webkit-keyframes nextPage {
    0% {
        -webkit-transform: translateY(40px) rotate(-45deg);
        opacity: .8
    }
    50% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        opacity: .4
    }
    100% {
        -webkit-transform: translateY(10px) rotate(-45deg);
        opacity: 0
    }
}

.landscape {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landscape svg {
    margin-top: 10px;
    animation: rotate90 1.5s infinite;
    animation-direction: alternate;
}

@keyframes rotate90 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}